@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
}

* {
    font-family: 'Work Sans', sans-serif!important;
    scroll-behavior: smooth;

}



.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}
.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}
.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}
.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: rgb(251 113 133);
}

